:root {
    --Bg1: #ffffff;
    --Bg2: #F0F0F0;
    --Bg3: #E8E8E8;
    --Bg4: #0381BE;

    --MainFont: #3E465E;
}

[data-theme="Dark"]{
    --Bg1: #666;
    --Bg2: #333;
    --Bg3: #444;
    --Bg4: #0381BE;

    --MainFont: #fff;
}