body{
    color: $MainFont;
    background-color: $Bg2;
    font-size: $f18;
    margin: 0;
    
    #Navbar{
        @include FlexObj();
        box-shadow: 0 0 2px $Shadow;
        background-color: $Bg1;
        margin-bottom: 15px;
        font-size: $f22;
        padding: 15px;
        
        #NB1{
            @include FlexChild(flex-start);
        }
        #NB2{
            @include FlexChild(center);
        }
        #NB3{
            @include FlexChild(flex-end);
        }
    }
    
    #Conent{
        @include FlexObj();
        margin: 0 auto;
        width: 1200px;        
        
        #LeftBar{
            box-shadow: 0 0 2px $Shadow;
            background-color: $Bg1;
            width: 230px;
            
            ul{
                margin: 0;
                padding: 0;
                li{
                    display: block;
                    padding: 10px;
                    &:hover{
                        background-color: $Bg3;
                        cursor: pointer;
                    }
                }
            }
        }
        
        #Game{
            @include FlexChild(center);
            box-shadow: 0 0 2px $Shadow;
            background-color: $Bg1;
            margin-left: 20px;
            width: 950px;
            padding: 5px;
        }
    }
}