@import '___colors';
@import '___fonts';
@import '__flexObj';

.Board{
    div{
        @include FlexObj();
        align-items: center;
        justify-content: center;
        div{
            width: 100px;
            height: 100px;
            text-align: center;
            vertical-align: middle;
            border: 1px solid black;
            color: white;
            font-size: 30pt;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}